Package: dev.kiike.modloader
Name: modloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: KiiKe
Author: KiiKe
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
